/* Contenedor del carrusel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    padding-top: 10px;
}

/* Imagen del carrusel */
.carousel-image {
    height: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el cursor sobre la imagen */
.carousel-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .carousel-image {
        aspect-ratio: 4 / 3;
        height: auto;
    }

    .carousel-title {
        font-size: 1.2rem;
    }
}

.carousel-title {
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

/* Botones del carrusel */
.carousel-button {
    background-color: #ffd423;
    border: none;
    color: blueviolet;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel-button.left {
    left: 5px;
}

.carousel-button.right {
    right: 5px;
}

.carousel-button:hover {
    background-color: blueviolet;
    color: white;
}

.carousel-message {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}
