/* PhotoCard.css */

/* Estilo para la card principal */
.photo-card {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto; /* Centramos la card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Lista de categorías */
.photo-card-category-list {
    display: flex;
    flex-direction: column;
}

/* Cada ítem de categoría */
.photo-card-category-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* Estilo para el título de la categoría */
.photo-card-category-title {
    margin-right: 10px;
    font-size: 1.2em;
    flex: 1; /* El título ocupa todo el espacio disponible a la izquierda */
}

/* Imagen de la categoría */
.photo-card-category-image {
    width: 60px;
    height: 60px;
    border-radius: 10px; /* Bordes redondeados */
    object-fit: cover;
}
