/* LoginForm.css */

/* Estilos para centrar el formulario */
body {
    background-color: #333;  /* Fondo oscuro para resaltar el formulario */
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}


.card {
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.input-group-text {
    background-color: #ffd700;
    border: none;
}

.form-control {
    height: 45px;
    font-size: 16px;
    border-radius: 0;
}

.btn-primary {
    background-color: #FFD423;
    border: none;
}

.btn-primary:hover {
    background-color: #5d2b94;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    font-size: 14px;
}

