
.body{
    width: 100%;
}


/* Título del formulario */
form h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

/* Caja de entrada de datos */
.input-box {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

.input-box input {
    flex: 1;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    padding-right: 45px;
}

/* Estilo del placeholder */
.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Icono dentro de la caja de entrada */
.input-box .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

/* Recordar y Olvidé mi contraseña */
form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Botón de enviar */
form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #f0f0f0;
}

/* Enlace para registrarse */
form .register-link {
    width: 100%;
}

.register-link p a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .wrapper {
        padding: 20px;
    }

    form h1 {
        font-size: 28px;
    }

    .input-box input {
        font-size: 14px;
        padding: 8px 15px;
    }

    form button {
        height: 40px;
        font-size: 14px;
    }

    body{
        margin-top: 120%; 
    }
}

@media (max-width: 480px) {
    .wrapper {
        width: 90%; /* Asegurar que ocupe la mayor parte de la pantalla en móviles */
    }

    .input-box .icon {
        font-size: 18px;
    }
    body{
        margin-top: 120%; 
    }
}
