.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajusta según la altura del navbar */
    background-color: #FFD423;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Lista de navegación */
.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: center;
    gap: 45px;
}

/* Elementos de la lista */
.nav-list li {
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.nav-list li.active {
    font-weight: bold;
    color: blueviolet;
}

.nav-list li:hover {
    color: blueviolet;
}

/* Botón de menú para móviles */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Caja de búsqueda */
.search-box {
    display: flex;
    align-items: center;
    background: blueviolet;
    border-radius: 50px;
    padding: 5px 15px;
    gap: 70px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    max-width: 150px;
}

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Contenedor de íconos */
.icon-container {
    display: flex;
    align-items: center;
    gap: 45px;
}

.Paws {
    height: 40px;
    margin-left: 40px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .NavBar {
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
    }

    .nav-list {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #FFD423;
        border-radius: 0 0 20px 20px;
        padding: 10px 0;
        text-align: center;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        align-self: flex-end;
    }

    .icon-container {
        justify-content: center;
        margin-top: 10px;
        margin-right: 40px;
    }
}

/* Estilos para tablets */
@media (max-width: 1024px) {
    .search-box input {
        max-width: 100px;
    }
}

/* Estilos para los enlaces dentro de la lista de navegación */
.nav-list a {
    color: white; /* Cambia el color a blanco */
    text-decoration: none; /* Elimina el subrayado */
}

.nav-list a:hover {
    color: blueviolet; /* Color al hacer hover, ajusta según tu preferencia */
    text-decoration: none; /* Asegura que no haya subrayado al hacer hover */
}

/* Elementos de la lista de navegación */
.nav-list li {
    cursor: pointer;
    padding: 10px;
}



