body {
  margin: 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/assets/generalBackground.jpeg');
  background-position: center;

  background-size: auto; /* Asegurando que la imagen cubra todo */
  background-repeat: repeat;
      
  width: 100vw; /* Asegurar que cubra todo el ancho de la ventana */
  height: 100vh; /* Asegurar que cubra todo el alto de la ventana */
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
