/* Contenedor del seguimiento de orden */
.order-status {
    background-color: #9333EA;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Lista de estados de la orden */
.order-status ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilo de cada estado de la orden */
.order-status li {
    text-align: center;
    font-size: 16px;
    color: #ccc;
}

.order-status li.active {
    font-weight: bold;
    color: #49dd50; /* Dorado para el estado activo */
}

/* Contenedor del ícono de estado */
.status-icon-container {
    font-size: 2.5rem;
    color: #ccc;
}

.status-icon-container.active {
    color: #30d85a; /* Dorado para el ícono activo */
}

.status-message {
    font-size: 1.4rem; 
    font-weight: bold; 
    color: #333; 
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Resumen de la orden */
.order-summary-card {
    background-color: #58caff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-summary-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Elementos de la lista de productos */
.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.order-item-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Total de la orden */
.order-summary h4 {
    font-size: 20px;
    font-weight: bold;
}


.order-comments-card {
    margin: 0 auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 8px;
}

.order-comments-list .list-group-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    color: #333;
}

.order-comments-title {
    color: #333;
    font-weight: bold;
    margin-bottom: 16px;
}

.order-comments-list p {
    color: #555;
    font-weight: normal;
}

.order-comments-list p strong {
    font-weight: bold;
    color: #333;
}

.edit-comment-button {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 8px;
    text-decoration: underline;
}

.edit-comment-button:hover {
    color: #0056b3;
}

.modal-title-custom {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333; /* Cambia este color a lo que necesites */
    text-align: center;
}